<h1>Stupid Coaching</h1>

<%# <p> My question:</p> %>
<%= @message %>
<p><em>- You</em></p>

<%# <p>My answer:</p> %>
<%= @answer %>
<p><em>- Your Coach</em></p>

<%= link_to "Ask a new question", ask_path %>
